/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Satisfy&display=swap");

/* common design */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blc: #212529;
  --text: #6c757d;
  --link: #2f3f9f;
  --high: #a30000;
  --deep1: #283687;
  --deep2: #8b0000;
}

body,
p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

h1,
h2,
h4 {
  font-family: "Oswald", sans-serif;
}

h1,
h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  color: #212529;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.highlight {
  color: var(--high);
  font-size: 72px;
  font-family: "Satisfy", sans-serif;
  font-weight: 400;
  position: relative;
  z-index: 1;
  margin: 0 10px;
}

.highlight::after {
  content: "";
  height: 25px;
  left: -10px;
  bottom: 25px;
  position: absolute;
  z-index: -1;
}

.highlight-hero::after {
  background-color: #b8e1ff;
  width: 250px;
}

.btns {
  display: flex;
  gap: 10px;
}

.btn {
  font-size: 25px;
  line-height: 37px;
  padding: 15px 30px;
  border-radius: 40px;
  transition: 0.2s linear;
  border: 1px solid transparent;
}

.btn-one {
  background-color: var(--link);
  color: #fff;
}

.btn-one:hover {
  background-color: var(--deep1);
}

.btn-two {
  border-color: var(--link);
  color: var(--link);
}

.btn-two:hover {
  background-color: var(--link);
  color: #fff;
}

.highlight-res::after {
  background-color: #fff3cd;
  width: 300px;
}
