/* hero section */

section.hero-bg {
  background-color: #e1ebfa;
}
#hero {
  width: 88%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.hero__left {
  width: 58%;
}

.hero__left p {
  font-size: 24px;
  line-height: 36px;
  color: #212529;
  font-weight: 400;
  margin: 25px 0 45px;
}

.hero__right {
  width: 42%;
  mask-image: url("../img/hero-mask.svg");
  mask-repeat: no-repeat;
  margin-left: 14%;
}

/* resolution */

.res-title {
  text-align: center;
  margin: 80px auto 100px;
  width: 55%;
}

.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  width: 90%;
  margin: 0 auto 80px;
}

.service img {
  padding: 16px;
  border-radius: 5px;
}

.service-box1 img {
  background-color: #f2e9ac;
}

.service-box2 img {
  background-color: #caf0c7;
}

.service-box3 img {
  background-color: #ffe9f3;
}

.service-box4 img {
  background-color: #cdf7f6;
  color: var(--link);
}

.service h4 {
  margin: 18px 0;
  font-size: 24px;
  font-weight: 500;
}

.service p {
  color: #6c757d;
  font-size: 15px;
  line-height: 25px;
  margin-right: 8px;
  margin-bottom: 20px;
}

.service a {
  color: var(--link);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.service a i {
  font-size: 12px;
  font-weight: 500;
  margin-left: 3px;
}
